[% PROCESS site/book_nav.tt %]
<div class="row-fluid">
  <div class="page-header">
    <h3>Borrower</h3>
  </div>
</div>
<div class="row-fluid">
  <p>[%message%]</p>
  [% FOR field IN form.error_fields %]
    [% FOR error IN field.errors %]
    <div class='error' id=error>[% error %] </div>
    [% END %]
  [% END %]
  
  [% form.render %]

  <p><a class="btn btn-primary" href="[% c.uri_for('list') %]">List all books</a></p>

</div>
